<div class="ppcp payment-method"
     data-bind="css: {'_active': ( 'paypalcp' == isSelected())}, attr: {isSel: isSelected()}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
               data-bind="attr: {'id': getCode()}, value: 'paypalcp', checked: isChecked, click: function() { selectedPayPalMethod('paypalcp'); return true; }, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitleMethodPaypal()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!-- /ko -->

        <div id="paypal-button-container" style="min-height: 45px;"></div>
        <div id="paypal-paylater-container" style="min-height: 40px; margin-top: 10px;"></div>
        <div id="paypal-sepa-container" style="min-height: 40px; margin-top: 10px;"></div>
        <div id="paypal-trustly-container" style="min-height: 40px; margin-top: 10px;"></div>
        <div id="paypal-applepay-container" style="min-height: 40px; margin-top: 10px;"></div>
        <div id="paypal-messages-container" style="margin-top: 10px;"></div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode()}"></div>
        </div>
    </div>
</div>

<div data-bind="afterRender: completeRender() "></div>
