<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypalcp>
                <active>0</active>
                <model>PayPal\CommercePlatform\Model\Payment\Advanced\Payment</model>
                <order_status>pending_payment</order_status>
                <title>Kreditkarte / Debitkarte</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <sandbox_flag>1</sandbox_flag>
                <handle_pending_payments>1</handle_pending_payments>
                <stop_on_amount_mismatch>0</stop_on_amount_mismatch>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>-2</sort_order>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>EUR</currency>
                <country_code>DE</country_code>
                <min_order_total>0.50</min_order_total>
                <paymentInfoKeys>card_type,order_id</paymentInfoKeys>
                <enable_acdc>0</enable_acdc>
                <enable_bcdc>0</enable_bcdc>
                <enable_items>1</enable_items>
                <debug_mode>0</debug_mode>
                <title_paypal>PayPal</title_paypal>
                <title_card>Kreditkarte / Debitkarte</title_card>
                <!-- Funding Sources for DE -->
                <enable_sepa>1</enable_sepa>
                <enable_paylater>1</enable_paylater>
                <enable_applepay>0</enable_applepay>
                <enable_googlepay>0</enable_googlepay>
                <enable_trustly>0</enable_trustly>
                <enable_messages>1</enable_messages>
            </paypalcp>
            <paypalspb>
                <active>1</active>
                <model>PayPal\CommercePlatform\Model\Payment\SPB\Payment</model>
                <order_status>pending_payment</order_status>
                <title>PayPal</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <sandbox_flag>1</sandbox_flag>
                <status_pending>1</status_pending>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>EUR</currency>
                <min_order_total>0.50</min_order_total>
            </paypalspb>
        </payment>
    </default>
</config>
